@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
/* imporado desde google, font-family: 'Didact Gothic', sans-serif;*/
:root{
    --github: #3b5999;/*cambia al color original del  logo */
    --twitter: #55acee;
    --instagram: #e4405f;
    --iconos: #252b33;
    --fondo: #F5DF4E;
    --gris: #6c757d;
    }

*{
    margin: 0; /*le saca a todo el borde  por defecto*/
    padding: 0; /*le saca a todos el espacio por defecto*/
    box-sizing: border-box; /*da formato de caja*/
}

body{
    font-family: "Poppins", sans-serif;/*esta es la letra importad*/
    color: var(--color-letras); /*esto es para que cambie al color de la variable */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    display: block;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
}
.nav{
    display: flex;
    align-items: center; 
    align-content: center;
    list-style: none;/*esto es para sacar los puntitos  */
    gap: 2rem; /*le da el mismo tamaño a todos los textos  */
    text-transform: uppercase;
    letter-spacing: 0.3px;/*sepacion entre leras*/
    font-weight: 700;
    color: var(--color-letras);
}

.nav a{
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 0.2px;/*sepacion entre leras*/
   }
.redes ul{
    display: flex;
    list-style: none;
    align-items: center; 
    list-style: none;/*esto es para sacar los puntitos  */
    gap: 2rem; /*le da el mismo tamaño a todos los textos  */
    text-transform: uppercase;
    letter-spacing: 0.3px;/*sepacion entre leras*/
    font-weight: 700;
    color: var(--color-letras);
}

.redes i{
    transform: scale(1.3);
    opacity: 0.6;
    font-size: 16px;
    }

.redes i:hover{
        transform: scale(1.5);
        }

.bi-instagram:hover{
    color: var(--instagram);
}

.bi-github:hover{
color: var(--github);
}
.bi-twitter:hover{
    color: var(--twitter);
}

.hamburguesa{
    display: none;
}

.hero{
    display: flex;
    text-align: center;
    align-items: center; 
    width: 100vw;/* ancho de la pantalla*/
    height: 100vh;/*alto de la pantalla*/
    background-color: var(--fondo)
    
}


display: flex;
justify-content: center;
margin: 0%, auto;
padding: auto;
flex-direction: row;
flex-wrap: nowrap;
align-items: stretch;
align-content: stretch;
.herp div{
    width: 900px;
height: 500px;
    background-color: #e4405f;
    
    
}

main img{
    width: 344px;/* ancho*/
    border: 10px solid #dddddd; /* borde*/
    height: 344px; /* alto*/
    background-color: black;/*color de fondo de la imagen por que esta imagen en si fondo*/
}

.circular--square {
    border-radius: 50%; /* esto es para darle formato circular a la imagen*/
}




@media (max-width:900px) {
    .nav .menu-ul, .redes{
        display: none;
    }
    header{
        justify-content: space-between;
        }
        h1{
            margin-left: 50px;
        }
        .hamburguesa{
            display: block;
            margin-right: 15px;
            font-size: 36px;
        }
}


